FYP_1/SEED.zip
.venv
FYP_1/SEED
FYP_1/processed
FYP_1/__pycache__
FYP_1/Preprocess
FYP_1/fieldtrip-master
FYP_1/Preprocessed_EEG
FYP_1/.torcheeg
FYP_1/processed_eeg_data
FYP_1/processed_seed_data
FYP_1/runs
FYP_1/auto_denoised_ica
FYP_1/cleaned_data_ica
FYP_1/denoised_data_ica
FYP_1/4channelmodel
FYP_1/processed_eeg_data
FYP_1/processed_seed_data
FYP_1/runs
FYP_1/Version_Aheed/fyp/denoising_ica/denoised_vs_original.fig
FYP_1/cleaned_data
FYP_1/preprocessed_seed_data.zip
FYP_1/processed_eeg_data.zip
FYP_1/Version 2_Hamza/Data
FYP_1/Version_Aheed/fyp/denoising/runs/contrastive_training
FYP_1/contrastive_pairs
FYP_1/contrastive_pairs_old
FYP_1/denoised_data
FYP_1/mock_contrastive_pairs
FYP_1/*.pkl
FYP_1/Version_Aheed/fyp/fyp2
.env
FYP_2/Aheed/Pytorch_Retinaface-master.zip
FYP_2/Aheed/Pytorch_Retinaface-master
FYP_2/Aheed/face.jpg
data_preprocessed_matlab

de_labels.npy
de_features.npy